@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$primary-color: #F18C8E;
$footer-links: #EA8C8E;
$footer-bg: #100B0F;

$p-left: 7.9em;


// --------------- Home Page ---------------
@import '../SCSS/home';
@import '../SCSS/header';
@import '../SCSS/footer';

// --------------- Services Page ---------------
@import '../SCSS/services';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {

    // padding-top: 1.4em;
}

a {

    text-decoration: none;
    color: black;

}

li {

    list-style: none;
}
