@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$primary-color: #F18C8E;
$footer-links: #EA8C8E;
$footer-bg: #100B0F;

$p-left: 7.9em;


// --------------- Home Page ---------------
@import '../SCSS/home';
@import '../SCSS/header';
@import '../SCSS/footer';

// --------------- Services Page ---------------
@import '../SCSS/services';

// --------------- About Page ---------------
@import '../SCSS/about';

// --------------- Contact Page ---------------
@import '../SCSS/contact';

// --------------- Contact Page ---------------
@import '../SCSS/thankyou'; 

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {

    text-decoration: none;
    color: black;

}

li {

    list-style: none;
}


.info {

    position: relative;
    width: 100%;
    height: max-content;
    background-color: #fff;
    z-index: 999;

    .watermark {

        position: absolute;
        font-size: 7.2rem;
        font-weight: normal;
        font-family: 'Pacifico', cursive;
        text-transform: capitalize;
        color: rgb(160, 159, 159);
        opacity: .1;
        z-index: -999;
        letter-spacing: 1px;
    }

    h5 {

        text-transform: uppercase;
        color: #f18c8e;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

