.container {

    display: flex;
    height: 100vh;
    font-family: 'Lato', sans-serif;

    .col-1 {

        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .logo {

            position: absolute;
            top: 5px;
            left: 15px;
            text-transform: capitalize;
            font-family: 'Pacifico', cursive;
            font-weight: bolder;
            font-size: 1.23rem;
            cursor: pointer;
        }
        

        .form-card {

            // border: 2px solid red;
            width: fit-content;

            h2 {

                font-size: 2.1rem;
                margin-bottom: 5px;
                font-weight: 500;
            }
    
            p {
    
                color: #7A7F8A;
                font-size: 1rem;
            }

            label, a {

                font-weight: bold;
                font-size: .8rem;
                color: rgba(0, 0, 0, 0.8);
            }
        }

        #sign-in-form {

            margin-top: 20px;
            margin-bottom: 30px;

            .form-control {

                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            label {

                text-transform: capitalize;
                margin-bottom: 5px;
            }

            input, button{

                padding-left: 10px;
                height: 42px;
                border-radius: 8px;
                border: 2px solid #DEDFE4;
                outline: none;
                font-size: .9rem;
                // font-family: 'Lato', sans-serif;
                color: gray;
            }

            .ex-options {

                display: flex;
                justify-content: space-between;
                margin-top: 20px;

                .save-cred {

                    display: inherit;
                    flex-direction: row-reverse;
                    align-items: flex-start;
                    position: relative;
                }

                #sv-cred {

                    margin-right: 5px;
                    height: auto;
                }
            
            }

            button {

                display: block;
                width: 100%;
                outline: none;
                font-weight: bold;
                cursor: pointer;
            }

            #signin-btn {

                background-color: #101727;
                color: rgba(255, 255, 255, 0.9);
                margin-top: 15px;
                margin-bottom: 15px;
                border: 0;

            }

            #g-sign-btn {

                background-color: transparent;
                color: #101727;
                display: flex;
                justify-content: center;
                align-items: center;

                img {

                    width: 30px;
                    height: 30px;
                    margin-right: 3px;
                }
            }
        }

        .signup-link {

            display: flex;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .rough-undln {

                position: absolute;
                left: 130px;
                top: 15px;
                width: 60% ;
            }

            
            p, a {

                font-size: .9rem;
            }

            p {

                margin-right: 5px;
            }

            a {

                margin-bottom: 10px;
                font-weight: bold;
                font-family: sans-serif;
            }

        }
    }

    .col-2 {

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        flex-basis: 55%;
        background-image: url(../Images/image_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

}




